html {
    font-size: 16px;
    font-family: 'Stick', sans-serif;
    background-color: blue;
}

body {
    width: 600px;
    background-color: orangered;
    margin: 0 auto;
    padding: 0 20px 20px;
    border: 5px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: blueviolet;
    margin: 0 auto;
    padding: 20px 0px;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
    color: black;
}

button {
    background-color: inherit;
}

    